
  
  .header {
    display: flex;
    margin-top: 56px;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20px;
    margin-bottom: 2rem;    
    /* text-align: center; Center-align for better mobile aesthetics */
  }
  .icon {
    width: 50%; 
  }
  .services {
    width: 50%;
  }
  .badge {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .subHeading {
    color: #5A5A59;
    font-size: 14px;
  }
  
  .mainHeading {
    font-size: 72px;
    line-height: 72px;
    font-weight: 500;
    margin: 1rem 0;
  }
  
  .description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
  }
  
  .servicesButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 217px;
    height: 72px;
    background: radial-gradient(
      40.25% 106.25% at 50.26% 50%,
      #844aff 0%,
      #6015ff 100%
    );
    border-radius: 90px;
    font-size: 18px;
    font-weight: 500;
    color: #fffefd;
    gap: 10px;
    cursor: pointer;
  }
  
  .servicesButton:hover {
    background-color: #5548c8;
  }
  
 

.serviceItem {

    padding-top: 20px;
    /* border-radius: 8px; */
    border-bottom: 1px solid #d2d2d2; /* Default border-bottom color */
  }
  .serviceTitle {
    font-size: 24px;
    color: #131313; /* Default color */
    /* transition: color 0.3s ease; */
  }
  
  .activeText {
    font-size: 42px;
    color: #6319FF; /* Color when active */
  }
  
  
  .serviceItem {
    margin-bottom: 1.5rem;
  }
  
  .serviceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .serviceContent p {
    font-size: 0.9rem;
 
  }
  .serviceContent {

    margin-top: 0.5rem;
    /* padding-left: 1.5rem; */
  }
  
  .arrow {
    /* font-size: 1.5rem; */
  }
  
  .image {
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .container {
      /* padding: 1rem; */
    }
  
    .mainHeading {
      font-size: 42px;
      line-height: 42px;
    }
  
    .description {
      font-size: 0.9rem;
    }
  
    .servicesButton {
      font-size: 0.9rem;
      padding: 0.6rem 1rem;
    }
  
    .serviceHeader h2 {
      font-size: 1.2rem;
    }
  
    .arrow {
      font-size: 1.2rem;
    }
  
 
  }
  
  @media (max-width: 480px) {
    .mainHeading {
      font-size: 42px;
      line-height: 42px;
    }
    .serviceContent {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
  
    .description {
      /* font-size: 0.85rem; */
    }
  
    .serviceHeader h2 {
      /* font-size: 1rem; */
    }
    .header {
        display: inline;
    }
    .icon {
        width: 100%;
    }
    .services {
        width: 100%;
    }
  
    .arrow {
      font-size: 1rem;
    }
    .container {
        display: block;
    }
  }
  .activeBorder {
    border-bottom: 1px solid #6319FF; /* Blue border-bottom when active */
  }